<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a2.assignment2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <!-- MY COUNTRY MANIFEST -->

        <activity
            android:name="a2.assignment2.MyCountries.My_countries"
            android:label="@string/title_my_countries"
            android:parentActivityName="a2.assignment2.MainList" >
        </activity>
        <activity
            android:name="a2.assignment2.MyCountries.Add_country"
            android:label="@string/add_country"
            android:parentActivityName="a2.assignment2.MyCountries.My_countries" />
        <activity
            android:name=".MyCountries.Update_country"
            android:label="@string/update_country"
            android:parentActivityName="a2.assignment2.MyCountries.My_countries" />

        <activity
            android:name="a2.assignment2.MyCountries.Preferences"
            android:label="@string/title_activity_preferences"
            android:parentActivityName="a2.assignment2.MyCountries.My_countries" >
        </activity>

        <!-- ALARM CLOCK MANIFEST -->

        <activity
            android:name="a2.assignment2.AlarmClock.Main_app_alarm"
            android:label="@string/title_alarm_clock"
            android:parentActivityName="a2.assignment2.MainList" >
        </activity>
        <activity
            android:name="a2.assignment2.AlarmClock.AddAlarm"
            android:label="@string/title_add_alarm"
            android:parentActivityName=".AlarmClock.Main_app_alarm" >
        </activity>
        <activity
            android:name="a2.assignment2.AlarmClock.EditAlarm"
            android:label="@string/title_edit_alarm"
            android:parentActivityName=".AlarmClock.Main_app_alarm" >
        </activity>
        <activity
            android:name="a2.assignment2.AlarmClock.DialogAlarm"
            android:label="@string/title_dialog_alarm"
            android:parentActivityName=".AlarmClock.Main_app_alarm" >
        </activity>

        <receiver android:name="a2.assignment2.AlarmClock.ReceiverAlarm" />


        <!-- MEDIA PLAYER MUSIC MANIFEST -->

        <activity
            android:name="a2.assignment2.MediaPlayer.MP3Player"
            android:label="@string/activity_media_player"
            android:parentActivityName="a2.assignment2.MainList" />

        <service android:name="a2.assignment2.MediaPlayer.MusicService" />

    </application>

</manifest>